.navbar {
    margin-bottom: 0;
    background-color: rgb(23, 23, 199)!important;
}


#jumbo{
    text-align: center;
    background-color: transparent;
    padding: 2%
}

/* .container {
    padding-bottom: 40px;
    padding-top: 30px;
} */

.index-container, .contact-container{
    background-color: rgba(255, 255, 255, 0.70);
    margin-top: 10%;
    text-align: justify;
    /* width: 100%; */
    /* height: 100%; */
    margin-bottom: 30%;
}

.portfolio-container{
    background-color: rgba(255, 255, 255, 0.70);
    margin-top: 10%;
    text-align: justify;
    /* width: 100%; */
    /* height: 100%; */
    margin-bottom: 15%;
}

#cardBody{
    height: 100%;
    width: 100%;
}

#cardText{
    font-size: 75%;
}

body {
    position: auto;
    font-family: 'Righteous', cursive;
    margin: auto;
    color: rgb(212, 160, 29);
    background: url('../images/LaArcadaSB.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 1em;
    height: 100%;
}

footer {
    background-color: transparent;
    padding: auto;
    position: relative;
    left: 0;
    bottom: 0;
    color: rgb(23, 23, 199);
    width: 100%;
    font-size: .60em;
    }

#img {
    width: 4%;
    height: 4%;
    }

#img2 {
    Width: 50%;
    height: 50%;
    }

#textarea{
    margin: 0px;
    width: 100%;
    height: 200px;
    color: black;
    opacity: .7;
}


#myPhoto{
    width: 20%;
    height: 30%; 
} 


#userInput{
    opacity: .7;
}

#sendInput{
    margin-top: 2%;
    width: 100px;
    height: 50px;
    color: rgb(212, 160, 29);
    margin-bottom: 3%;
}

#stickyFooter{
    margin-top: 15%;
}

#projectButton{
    width: 30%;
    height: 30px;
    font-size: .56rem;
    text-align: center;
}


/* 
@media screen and (max-width: 980px) {
    .navbar {
        margin-bottom: 0;
        background-color: rgb(23, 23, 199)!important;
        }

    #jumbo{
        text-align: center;
        background-color: transparent;
        padding: 2%
        }

            .index-container, .contact-container, .portfolio-container{
            background-color: rgba(95, 95, 95, 0.7);
            margin-top: 10%;
            text-align: justify;
        }

    body {
        position: auto;
        font-family: 'Righteous', cursive;
        margin: auto;
        font-size: 1.5em;
        background: url('../images/LaArcadaSB.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: rgb(212, 160, 29);
        height: 100%;
        }

    footer {
        background-color: transparent;
        padding: auto;
        position: relative;
        color: rgb(23, 23, 199);
        width: 100%;
        font-size: .70em;
        }

    .img {
        width: 5%;
        }

    .img2 {
        Width: 25%;
        }

    .container {
        padding: 15px 10px 15px 10px;
    }

    #textarea{
        margin: 0px;
        width: 100%;
        height: 20vmax;
        color: black;
        opacity: .7;
    }

    #myPhoto{
        width: 30%;
    }

    #sendInput{
        margin-top: 2%;
        width: 100px;
        height: 55px;
        color: rgb(212, 160, 29);
    }

    #stickyFooter{
        margin-top: 15%;
    }

    

    @media screen and (max-width: 768px) {
        .navbar {
            margin-bottom: 0;
            background-color: rgb(23, 23, 199)!important;
            }

            #jumbo{
                text-align: center;
                background-color: transparent;
                padding: 2%
            }

        body {
            position: auto;
            font-family: 'Righteous', cursive;
            margin: auto;
            font-size: 1.4em;
            background: url('../images/LaArcadaSB.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            color: rgb(212, 160, 29);
            height: 100%;
            }

            .index-container, .contact-container, .portfolio-container{
                background-color: rgba(95, 95, 95, 0.7);
                margin-top: 10%;
                text-align: justify;
            }


        footer {
            background-color: transparent;
            padding: auto;
            position: relative;
            color: rgb(23, 23, 199);
            width: 100%;
            font-size: .60em;
            }

        #img {
            width: 4%;
            height: 4%;
            }

        #img2 {
            Width: 4%;
            height: 4%;
            }

        .container {
            padding: 15px 10px 15px 10px;
        }

        #textarea{
            position: absolute;
            margin: 0px;
            width: 95%;
            height: 20vmin;
            color: black;
        }

        #sendInput{
            margin-top: 25%;
            width: 85px;
            height: 45px;
            color: rgb(212, 160, 29);
        }

        #myPhoto{
            width: 28%;
        }

        #stickyFooter{
            margin-top: 15%;
        }


        @media screen and (max-width: 680px) {

            #navbar {
                margin-bottom: 0;
                background-color:rgb(23, 23, 199);
                color: black;
                }

            #jumbo{
                text-align: center;
                background-color: transparent;
                padding: 5px 5px 5px 5px;
            }

            
        .index-container, .contact-container, .portfolio-container{
            background-color: rgba(95, 95, 95, 0.7);
            margin-top: 10%;
            text-align: justify;
        }


            body {
                position: auto;
                font-family: 'Righteous', cursive;
                margin: auto;
                font-size: 1.1em;
                background: url('../images/LaArcadaSB.jpg');
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
                background-repeat: no-repeat;
                color: rgb(212, 160, 29); 
                height: 100%;
                }

            footer {
                background-color: transparent;
                padding: auto;
                position: relative;
                left: 0;
                bottom: 0;
                color: rgb(23, 23, 199); 
                width: 100%;
                font-size: .6em;
                }

            .img {
                width: 20%;
                height: 20%;
                }

            .img2 {
                Width: 8%;
                height: 8%;
                }


            .container {
                padding: 15px 10px 15px 10px;
                }

            #textarea{
                position: relative;
                margin: 0px;
                width: 100%;
                height:  20vmin; 
                color: black;
                opacity: .7;
            }

            #myPhoto{
                width: 40%;
            }

            #userInput{
                opacity: .7;
            }

            #sendInput{
                margin-top: 1%;
                width: 80px;
                height: 40px;
                color: rgb(212, 160, 29);
            }

            #cardPhotos{
                height: 10px;
            }

            */
